/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1.5;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*Code*/

.darkcyan{
    color: darkcyan;
    font-size: 21px;
}

.header{
    font-size: 21px;
    background-color: lightgrey;
    padding: 20px 80px;
    line-height: 30px;
    display: flex;
    flex-flow: row nowrap;
}
h1{
    font-size: 35px;
}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.links{
    margin-right: 30px;
    font-size: 16px;
}
.dline{
    line-height: 40px;
}

h2{
    font-size: 21px;
}

h3{
    font-size: 21px;
}

h4{
    font-size: 21px;
}

h5{
    font-size: 21px;
}

h6{
    font-size: 21px;
}

h7{
    font-size: 21px;
}


.summary{
    font-size: 16px;
}

.flex-container{
    padding: 30px 250px;
    width: 100%;
    height: 750px;
    display: flex;
    flex-flow: row nowrap;
    overflow: auto;
}

.info{
    flex-grow: 6;
    padding-right: 20px;
    margin-right: 200px;
 }

.showcase{
    margin-left: -100px;
    flex-grow: 4;
}

.gray{
    background-color: gray;
    height: 3px;
}

.skill{
    background-color: gray;
    height: 2px;
}

iframe{
    padding-top: 10px;
}
.none{
    height: 10px;
}

.menu li{
    display: inline;
    font-size: 16px;
}

.shortinfo{
    margin-left: -105px;
    flex-grow: 5;
}
.navigation{
    padding-top: 20px;
    flex-grow: 4;
}
.avatar{
    flex-grow: 1;
}
li{
    padding-right: 20px;
}

.experience ul{
    display: list-item;
}